!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Betty's Cookbook
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      .navbar.navbar-expand-lg.navbar-dark.bg-dark
        .navbar-brand
          Betty's Cookbook
        .justify-content-end
          %ul.nav
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{ data: { toggle: "dropdown" }, href: "#", aria: { expanded: "false" } }
                Menu
              .dropdown-menu
                = link_to letter_opener_web_path, class: 'dropdown-item' do
                  Letter Opener

      = yield
